:root {
  --white-color:                  #ffffff;
  --primary-color:                #ff0000;
  --secondary-color:              #ff0000;
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #ff0000;
  --custom-btn-bg-hover-color:    #ff0000;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --link-hover-color:             #ff0000;
  --custom-color:                 #ff0000;
  --body-font-family:             'Unbounded', sans-serif;

  --h1-font-size:                 42px;
  --h2-font-size:                 36px;
  --h3-font-size:                 28px;
  --h4-font-size:                 24px;
  --h5-font-size:                 22px;
  --h6-font-size:                 20px;
  --p-font-size:                  18px;
  --menu-font-size:               12px;
  --btn-font-size:                14px;
  --copyright-font-size:          14px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  color: var(--secondary-color);
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--white-color);
}





/*---------------------------------------
  THE BOOK SECTION            
-----------------------------------------*/
.book-section-info {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.nav-pills {
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-medium);
  position: sticky;
  top: 120px;
  padding: 30px;
}

.nav-pills .nav-link {
  background: var(--section-bg-color);
  color: var(--p-color);
  border-radius: var(--border-radius-large);
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 15px 30px;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link {
  background: var(--primary-color);
  color: var(--white-color);
}

.scrollspy-example-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.scrollspy-example-item {
  border-bottom: 5px dotted var(--p-color);
  min-height: 500px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.scrollspy-example-item:last-child {
  border-bottom: 0;
}

.scrollspy-example-item-image {
  border-radius: var(--border-radius-medium);
}

.scrollspy-example-item h5 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.blockquote {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-small);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-semibold);
  color: var(--site-footer-bg-color);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 80px 40px 40px 40px;
  text-align: center;
}

.blockquote::before {
  content: "“";
  color: var(--custom-color);
  font-size: 100px;
  line-height: 1rem;
  display: block;
}



/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.65);
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .scrollspy-example-2 .scrollspy-example-item:first-child {
    padding-top: 0;
  }

  .scrollspy-example-item h5 {
    padding-bottom: 5px;
  }

  .book-section-info {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .ebook-download-form {
    padding: 30px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .navbar-brand {
    font-size: var(--p-font-size);
  }

  .navbar-brand-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .navbar-brand-icon::after {
    top: 5px;
  }

  .btn-naira > span, 
  .btn-naira .btn-icon {
    font-size: 12px;
    padding: 5px 15px;
  }
}

